.box {

    .music-btn-box {
        width: 42px;
        height: 42px;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        right: 0.8rem;
        top: 2.2rem;

        img {
            width: 100%;
        }
    }

    .result-box {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .result-hero-box {
            width: 70vw;
            height: 70vw;
            overflow: hidden;
            border-radius: 50%;
            margin: 1rem auto 0;

            img {
                width: 100%;
            }
        }

        .result-hero-title-box {
            img {
                max-width: 100%;
                max-height: 2rem;
            }
        }

        .result-footer-box {
            width: 88%;
            padding: 1rem;
            margin: 0 auto;
            overflow: hidden;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            z-index: 2;
            position: relative;

            .hero-text {
                font-size: 18px;
            }
        }

        .example-loading {
            text-align: center;
            width: 80vw;
            height: 80vw;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            margin: 1.5rem auto;
        }

    }

}

:host ::ng-deep {
    .ant-spin-dot-item {
        background-color: #fff;
    }
    .ant-spin-text {
        color: #fff;
        font-size: 16px;
    }

}