<div class="fullscreen-box">
    <div class="logo-box"><img src="/assets/bg/logo.png" alt="天府人资"></div>
    <div class="pencil-box"><img src="/assets/bg/pencil.png" alt=""></div>
    <div class="refer-box">
        <div class="refer-img0 refer-img"><img src="/assets/bg/gzwxh0.png" alt=""></div>
        <div class="refer-img"><img src="/assets/bg/gzwxh1.png" alt=""></div>
    </div>
    <div class="qrcode-box"><img src="/assets/bg/qrcode.jpg" alt="天府人资"></div>
</div>
<router-outlet></router-outlet>